.main-content{
    margin-top:100px;
}

.word-size{
    font-size: 20px;
}

.tab-spacing{
   margin-top:50px;
}

.model-styles{
    position:relative;
    float:right;
}

.mediumbtn-styles{
    float:right;
}

.width-30-pct{
    width:30%;
}
 
.text-align-center{
    text-align:center;
}
 
.margin-bottom-1em{
    margin-bottom:1em;
}

.modal{
        max-height: 200%;
}