<html>

<head>
    <title>Insert</title>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>

</head>

<body ng-app="crudApp" ng-controller="userController">
    id:<input type="text" ng-model="id"><br> ChemicalName:
    <input type="text" ng-model="chemicalname"><br>Price:
    <input type="text" ng-model="price">
    <button type="button" ng-click="insertData()">Insert</button>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script>
        var app = angular.module('crudApp',[]);

        app.controller('userController',function($scope,$http){
            $scope.insertData = function(){
                $http.post('insert_data.php',
                {'id':$scope.id,
                'chemicalname':$scope.chemicalname,
                'price':$scope.price}
                ).success(function(data){
                    alert(data);
                });
            }
        });
    </script>
</body>

</html>