<h1 class="header">Add Ink Material</h1>

<div class="row">
    <div class="input-field col s6">
        <input ng-model="ink_name" type="text" class="validate" id="form-name" placeholder="Type Ink name here..." />
        <input ng-model="raw_name" type="text" class="validate" placeholder="Type raw material name here..." />
        <input ng-model="quantity" type="text" class="validate" id="form-quantity" placeholder="Type quantity here..." />
        <a id="btn-create-product" class="waves-effect waves-light btn margin-bottom-1em" ng-click="addInk()"><i class="material-icons left">add</i>Create</a>
        <a class="modal-action modal-close waves-effect waves-light btn margin-bottom-1em"><i class="material-icons left">close</i>Close</a>
    </div>
</div>